[submodule "modules/Turbo-Base64"]
	path = modules/Turbo-Base64
	url = https://github.com/powturbo/Turbo-Base64.git
[submodule "modules/phnt"]
	path = modules/phnt
	url = https://github.com/winsiderss/phnt.git
[submodule "modules/magic_enum"]
	path = modules/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "modules/semver"]
	path = modules/semver
	url = https://github.com/Neargye/semver.git
[submodule "modules/nameof"]
	path = modules/nameof
	url = https://github.com/Neargye/nameof.git
[submodule "modules/scope_guard"]
	path = modules/scope_guard
	url = https://github.com/Neargye/scope_guard.git
[submodule "modules/yacppl"]
	path = modules/yacppl
	url = https://github.com/Neargye/yacppl.git
[submodule "modules/zlib"]
	path = modules/zlib
	url = https://github.com/madler/zlib.git
[submodule "modules/xorstr"]
	path = modules/xorstr
	url = https://github.com/JustasMasiulis/xorstr.git
