[submodule "modules/Turbo-Base64"]
	path = modules/Turbo-Base64
	url = https://github.com/powturbo/Turbo-Base64.git
[submodule "modules/phnt"]
	path = modules/phnt
	url = https://github.com/winsiderss/phnt.git
[submodule "modules/magic_enum"]
	path = modules/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "modules/semver"]
	path = modules/semver
	url = https://github.com/Neargye/semver.git
[submodule "modules/nameof"]
	path = modules/nameof
	url = https://github.com/Neargye/nameof.git
[submodule "modules/scope_guard"]
	path = modules/scope_guard
	url = https://github.com/Neargye/scope_guard.git
[submodule "modules/yacppl"]
	path = modules/yacppl
	url = https://github.com/Neargye/yacppl.git
[submodule "modules/zlib"]
	path = modules/zlib
	url = https://github.com/madler/zlib.git
[submodule "modules/xorstr"]
	path = modules/xorstr
	url = https://github.com/JustasMasiulis/xorstr.git
[submodule "modules/lazy_importer"]
	path = modules/lazy_importer
	url = https://github.com/JustasMasiulis/lazy_importer.git
[submodule "modules/tinycc"]
	path = modules/tinycc
	url = https://github.com/TinyCC/tinycc.git
[submodule "modules/json"]
	path = modules/json
	url = https://github.com/nlohmann/json.git
[submodule "modules/curl"]
	path = modules/curl
	url = https://github.com/curl/curl.git
[submodule "modules/imgui/imgui"]
	path = modules/imgui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "modules/imgui/master/imgui"]
	path = modules/imgui/master/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "modules/imgui/docking/imgui"]
	path = modules/imgui/docking/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "modules/imgui/win98/imgui"]
	path = modules/imgui/win98/imgui
	url = https://github.com/Autoplay1999/imgui.git
	branch = external/win98
[submodule "modules/zydis"]
	path = modules/zydis
	url = https://github.com/zyantific/zydis.git
[submodule "modules/KNSoft.SlimDetours"]
	path = modules/KNSoft.SlimDetours
	url = https://github.com/KNSoft/KNSoft.SlimDetours.git
[submodule "modules/KNSoft.NDK"]
	path = modules/KNSoft.NDK
	url = https://github.com/KNSoft/KNSoft.NDK.git
[submodule "modules/KNSoft.FirmwareSpec"]
	path = modules/KNSoft.FirmwareSpec
	url = https://github.com/KNSoft/KNSoft.FirmwareSpec.git
[submodule "modules/KNSoft.NtCRT"]
	path = modules/KNSoft.NtCRT
	url = https://github.com/KNSoft/KNSoft.NtCRT.git
[submodule "modules/KNSoft.Syscall"]
	path = modules/KNSoft.Syscall
	url = https://github.com/KNSoft/KNSoft.Syscall.git
[submodule "modules/asmjit"]
	path = modules/asmjit
	url = https://github.com/asmjit/asmjit.git
[submodule "modules/simdjson"]
	path = modules/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "modules/yaml-cpp"]
	path = modules/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "modules/obfuscxx"]
	path = modules/obfuscxx
	url = https://github.com/nevergiveup-c/obfuscxx
[submodule "modules/Obfuscate"]
	path = modules/Obfuscate
	url = https://github.com/adamyaxley/Obfuscate
[submodule "modules/obfusheader.h"]
	path = modules/obfusheader.h
	url = https://github.com/ac3ss0r/obfusheader.h
[submodule "modules/luajit"]
	path = modules/luajit
	url = https://luajit.org/git/luajit.git
[submodule "modules/v8"]
	path = modules/v8
	url = https://chromium.googlesource.com/v8/v8.git
[submodule "modules/KNSoft.MakeLifeEasier"]
	path = modules/KNSoft.MakeLifeEasier
	url = https://github.com/KNSoft/KNSoft.MakeLifeEasier.git
