name: CI

on:
  push:
    branches: [ "main", "master" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    name: Build & Artifacts
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install Cython
        
    - name: Build All
      run: |
        cd builds
        python build_all.py --mode aggressive
        
    - name: Upload Bin Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: bin
        path: bin/
