name: CI

on:
  workflow_dispatch:
    inputs:
      commit_sha:
        description: 'Specify the Commit SHA to run (leave empty to use the latest)'
        required: false
        default: ''
  push:
    branches: [ "main", "master" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    name: Build & Artifacts
    runs-on: windows-latest
    timeout-minutes: 30
    
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: recursive
    
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install Cython
        
    - name: Build All
      run: |
        cd builds
        python build_all.py --mode aggressive
        
    - name: Upload Bin Artifacts
      uses: actions/upload-artifact@v6
      with:
        name: bin
        path: bin/
        retention-days: 60
